button{
  background: #b0183d;
  border: 2px solid #fcedd8;
  padding: 10px 12px;
  border-radius: 6px;
  color: #fcedd8;
  font-weight: 700;
  cursor: pointer;
  font-size: 1em;
  margin: 0px 20px;
}

button:hover{
  background: #fcedd8;
  color: #b0183d;
}

.card-grid{
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

footer{
  font-size: xx-small;
  margin-top: auto;
  padding: 10px;
  text-align: center;
  color: #fcedd8;
}

.congrats{
  font-size: xx-large;
  padding: 10px 0px;
}