@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  text-align: center;
  background-color: #112c70;
  color: #56e1e9;
}